@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; 

.chat-bg{
    background-image:url('./assets/chat-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: max-content;
}